.gallery-container {
  margin-bottom: 50px;
}

.carousel {
  margin: 0 auto;
  max-width: 800px;
  height: auto;
}

.carousel-indicators .inactive {
  background-color: lightblue;
}

.carousel-indicators .active {
  background-color: darkblue;
}

.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.col-md-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .row > .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 1rem;
  }
  .carousel {
    margin: 0 auto;
    height: 420px;
  }
}

@media (min-width: 645px) and (max-width: 770px) {
  .row > .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 1rem;
  }
  .carousel {
    margin: 0 auto;
    height: 380px !important;
  }
}

@media (min-width: 515px) and (max-width: 644.98px) {
  .carousel {
    margin: 0 auto;
    height: 300px !important;
  }
}

@media (max-width: 514.98px) {
  .carousel {
    margin: 0 auto;
    height: 250px !important;
  }
}
