.gallery-heading {
  font-family: Tangerine, cursive;
  color: #00148f;
  font-size: 5rem;
  text-align: center;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.gallery-container {
  margin-bottom: 50px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767.98px) {
  .row>.col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .row>.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}