.image-container {
  height: 500px;
}

.img1 {
  z-index: 1;
  width: 70%;
  left: 25px;
}

.img2 {
  z-index: 2;
  height: 200px !important;
  left: 75px;
  top: 220px;
  width: auto;
}

.img3 {
  z-index: 3;
  left: 45%;
  width: 45%;
  height: auto;
  top: 115px;
}