.center-text,
.slide {
  text-align: center
}

.services-container {
  padding: 20px;
  font-family: Roboto, sans-serif
}

.center-text {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px
}

.slider-image {
  margin: auto;
  display: block
}

.custom-arrow {
  display: block;
  background: #000;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1
}

.custom-arrow i {
  color: #fff
}

.next-arrow {
  right: 10px
}

.prev-arrow {
  left: 10px
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 20px
}

.details,
.features {
  width: 45%
}

.details h3,
.features h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px
}

.details p,
.features li {
  font-size: 1rem
}

.features ul {
  list-style: none;
  padding: 0
}

.features li {
  margin-bottom: 5px
}