.slider-image {
  width: 90%;
  height: 400px;
  object-fit: cover;
}

.slick-track {
  background-color: #00148f;
  padding: 40px 0 30px;
  margin: 0 30px;
}

.custom-arrow {
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px !important;
  z-index: 1;
}

.custom-arrow::before {
  font-size: 60px;
}

.custom-arrow i {
  color: #fff;
}

.next-arrow {
  right: 10px;
}

.prev-arrow {
  left: 10px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.details,
.features {
  width: 45%;
}

.details h3,
.features h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.details p,
.features li {
  font-size: 1rem;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  margin-bottom: 5px;
}

/* .disc {
  list-style-type: disc !important;
  margin-left: 20px;
} */

.cust-font {
  color: #00148f;
  font-family: sedan;
  font-size: 2rem !important;
  margin-top: 20px;
}

.cust-roboto {
  font-family: Cabin Condensed !important;
  font-size: 1rem !important;
}

/* .features {
  flex: 1;
} */

.details {
  flex: 1.5;
}

@media (max-width: 767.98px) {
  .bottom-section {
    flex-direction: column;
  }

  .details {
    width: 100%;
  }

  .slider-image {
    height: 300px;
  }
}