.skeleton {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skeleton-image {
  background-color: #e0e0e0;
  width: 100%;
  animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
