.content,
footer {
  margin-top: 20px
}

.about-us {
  padding: 30px;
  background-color: #f6f6e9
}

.logo {
  width: 150px;
  height: auto
}

.content {
  display: flex;
  justify-content: space-between
}

.about {
  flex: 3;
  margin-right: 20px
}

.about p {
  text-align: justify
}

.links-contacts {
  display: flex;
  flex: 3;
  justify-content: space-between
}

.quick-links {
  flex: 1;
  margin: 0 20px
}

.contacts {
  flex: 2
}

.quick-links ul {
  list-style: none;
  padding: 0
}

.quick-links li {
  margin-bottom: 10px
}

.quick-links li a {
  text-decoration: none;
  color: #000
}

.about-us h3 {
  margin-bottom: 20px
}

footer {
  text-align: left;
  font-size: 17px
}

@media (max-width:768px) {

  .content,
  .links-contacts {
    flex-direction: column
  }

  .about {
    margin-right: 0;
    margin-bottom: 20px
  }

  footer {
    font-size: 14px
  }

  .contacts,
  .quick-links {
    margin: 0 0 20px
  }
}