.banner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden
}

.background-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out;
  will-change: transform
}

.background-slider div {
  width: 25%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(1.5px)
}

.banner-text {
  position: relative;
  color: #fff;
  background: rgba(255, 255, 255, .109);
  padding: 20px;
  z-index: 1
}

.main-title {
  font-family: Tangerine, cursive;
  font-size: 7rem;
  font-weight: 700
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-size: 1.3rem
}

@media (max-width:1200px) {
  .main-title {
    font-size: 5rem
  }

  .subtitle {
    font-size: 1.3rem
  }
}

@media (max-width:768px) {
  .banner {
    height: 70vh
  }

  .main-title {
    font-size: 4rem
  }

  .subtitle {
    font-size: 1.2rem
  }
}

@media (max-width:480px) {
  .banner {
    height: 50vh
  }

  .main-title {
    font-size: 3rem
  }

  .subtitle {
    font-size: 1rem
  }
}