.banner {
  background-image: url('./background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1200px) {
  .banner {
    background-size: auto 100%;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 70vh;
    background-size: auto 100%;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 50vh;
    background-size: auto 100%;
  }
}
