@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Tangerine:wght@700&display=swap');

.imaage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  padding: 20px;
}

.text-container {
  flex: 1;
  max-width: 100%;
  padding-right: 0;
  text-align: center;
}

.image-container {
  max-width: 100%;
}

.d-hline {
  font-family: Tangerine, cursive;
  font-size: 4em;
  margin: 80px 0px 0px 0px;
  color: #00148f;
}

.imaage-image {
  height: 65%;
  width: auto;
  margin: 80px 0px 0px 0px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.imaage-image.fade-in {
  opacity: 1;
}

.paragraph {
  margin: 20px 0;
  font-size: 1em;
}

.contact-button {
  background-color: #00148f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: Roboto, sans-serif;
}

.contact-button:hover {
  background-color: #000c6e;
}

@media (min-width: 768px) {
  .imaage-container {
    flex-direction: row;
  }

  .d-hline {
    font-size: 6em;
  }

  .text-container {
    max-width: 50%;
    padding-right: 20px;
  }

  .imaage-image {
    height: 100% !important;
    width: auto !important;
  }

  .image-container {
    max-width: 50%;
  }
}