.imaage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  padding: 20px
}

.text-container {
  flex: 1;
  max-width: 100%;
  padding-right: 0;
  text-align: center
}

.image-container {
  max-width: 100%
}

.d-hline {
  font-family: Tangerine, cursive;
  font-size: 4em;
  margin: 80px 0 0;
  color: #00148f
}

.imaage-image {
  margin: 80px 0 0;
  transition: opacity 1s ease-in-out;
  opacity: 0
}

.imaage-image.fade-in {
  opacity: 1
}

.paragraph {
  margin: 20px 0;
  font-size: 1.5em
}

.contact-button {
  background-color: #00148f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  font-family: Roboto, sans-serif
}

.contact-button:hover {
  background-color: #000c6e
}

@media (max-width:375px) {
  .imaage-image {
    height: 250px !important;
    width: auto !important
  }
}

@media (max-width:768px) {
  .imaage-image {
    height: 375px !important;
    width: auto !important
  }
}

@media (min-width:768px) {
  .imaage-container {
    flex-direction: row
  }

  .d-hline {
    font-size: 6em
  }

  .text-container {
    max-width: 50%;
    padding-right: 20px
  }

  .imaage-image {
    height: 300px !important;
    width: auto !important
  }

  .image-container {
    max-width: 50%
  }
}

@media (max-width:550px) {
  .imaage-image {
    height: 300px !important;
    width: auto !important
  }
}

@media (min-width:1000px) {
  .imaage-image {
    height: 375px !important;
    width: auto !important
  }
}

@media (min-width:1200px) {
  .imaage-image {
    height: 450px !important;
    width: auto !important
  }
}