.description,
.main-heading,
.option-headline {
  text-align: center;
}

.carousel-container {
  margin: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-direction: row;
  text-align: center;
}

.igc {
  flex: 1.5;
}

.igc img {
  height: 520px !important;
  width: auto;
}

.options-container {
  flex: 1;
  padding: 0 20px;
}

.options-list {
  list-style-type: none;
  padding: 0;
  position: relative;
  left: 1px;
  top: 113px;
}

.option {
  font-family: Sedan, sans-serif;
  cursor: pointer;
  margin: 10px 0;
  color: #6eacda;
  font-size: 2em;
}

.main-heading,
.option.selected {
  color: #00148f;
}

.content-container {
  position: relative;
  left: 3px;
  top: 122px;
  flex: 2;
  padding: 20px;
}

.main-heading {
  padding-left: 50%;
  width: 1367px;
  transform: translate(-1px);
  position: relative;
  left: -41px;
  top: 200px;
  transition: none;
}

.description {
  min-height: 175px;
}

.option-headline {
  font-family: Roboto;
  color: #00148f;
  font-size: 36px;
}

.btn-primary,
.description {
  font-family: Roboto, sans-serif;
  font-size: 1.2em
}

.btn-primary {
  background-color: #00148f;
  border: none;
  margin: 20px auto;
  display: block;
}

@media (max-width: 768px) {
  .carousel-container {
    flex-direction: column;
  }

  .main-heading {
    padding-left: 0;
    display: flex;
    width: 100%;
    overflow-wrap: break-word;
    font-size: 4em;
  }

  .description {
    min-height: 250px;
  }

  .igc img {
    height: 400px !important;
    width: auto;
  }

  .options-list,
  .main-heading,
  .content-container {
    top: 0;
    left: 0;
  }
}

@media (max-width: 968px) {
  .main-heading {
    top: 0;
    left: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 4em;
  }
}

@media (min-width: 766px) and (max-width: 1300px) {
  .main-heading {
    padding-left: 0;
    display: flex;
    width: 100%;
    overflow-wrap: break-word;
    font-size: 5em;
    left: 0;
    top: 100px;
    justify-content: center;
  }

  .carousel-container {
    flex-direction: column;
  }

  .igc img {
    height: 500px !important;
    width: auto;
  }

  .options-list,
  .main-heading,
  .content-container {
    top: 0;
    left: 0;
  }
}