body {
  font-family: 'Roboto', sans-serif;
}

.navbar-nav .nav-link {
  margin: 0 10px;
  color: black;
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  border-bottom: 2px solid blue;
}

.navbar-logo {
  height: 70px;
  transition: transform 0.3s ease;
}

.logo-collapsed .navbar-logo {
  transform: scale(1);
}

.logo-expanded .navbar-logo {
  margin-left: 25px;
  transform: scale(1.25);
}

.dropdown-menu {
  min-width: 200px;
}

.btn-primary {
  background-color: #00148f;
  border-color: #00148f;
  border-radius: 20px;
  padding: 5px 20px;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:850px) {
  .navbar-brand.d-lg-none {
    display: flex !important;
  }
}

@media (min-width: 769px) {
  .navbar-brand.d-lg-block {
    display: none;
  }
}